body {  line-height: 24px;  font: 12px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;background-color: #f4f4f4; }
.header-demo {  height: 50px;  border-bottom: none;}
.logo {  position: absolute;  left: 0;  top: 10px;  }
.logo span{  color: #fff;  font-size: 16px;  display: inline-block;  position: relative;  top: 8px;  font-weight: 300;margin-left: 5px;}

/*框架主体颜色#4fc2b9 star*/

/*.layui-side-scroll{background-color:#4fc2b9; }*/
/*.layui-nav * {  font-size: 12px;}*/
/*.layui-nav .layui-nav-item a{color: #fff;}*/
/*.layui-nav .layui-nav-item {  line-height: 50px;  }*/
/*.layui-nav-child {  top: 50px;  }*/

/* 垂直导航二级菜单hover*/
/*.layui-nav-tree .layui-nav-item  {background-color: #369c98;}*/
/*.layui-nav-tree .layui-nav-item a:hover {background-color: #369c98;}*/
/*.layui-nav-tree .layui-nav-child a:hover{box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;  position: relative;font-size: 20px;background-color: #4fc2b9;}*/
/*.layui-nav-tree .layui-nav-child a {color: #ffffff;}*/
/*.layui-nav-tree .layui-nav-child { background-color:#4fc2b9;}*/
/*垂直导航一级菜单hover*/
/*.layui-nav-tree .layui-nav-bar{width: 0px;}*/
/*.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover { background-color: #fc7569;  color: #fff;  }*/
/*.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {background-color: #369c98!important;}*/

/*#content{background-color: #f4f4f4;}*/
/*.layui-layout-admin .layui-side {  top: 50px;  width: 200px;  overflow-x: hidden;  }*/
/*.layui-layout-admin .layui-body {  top: 50px;}*/
/*.data-nav { text-align: right;height: 50px;  border-radius: 0px; background-color: #4fc2b9;}*/
/*.data-nav .layui-nav-more { top: 22px;}*/
/*.layui-elem-field legend {  margin-left: 20px;  padding: 0 10px;  font-size: 14px;  font-weight: 300;  }*/
/*.layui-form-radio span {  font-size: 12px;  }*/
/*.layui-form-label {  float: left;  display: block;  padding: 9px 15px;  width: 80px;  font-weight: 400;  text-align: right;  font-size: 12px;  }*/
/*.layui-form-label {  float: left;  display: block;  padding: 8px 15px;  width: 80px;  font-weight: 400;  text-align: right;  font-size: 12px;  }*/
/*.layui-form-radio i { font-size: 16px;  }*/
/*.layui-input, .layui-select, .layui-textarea {  height: 38px;  line-height: 38px;  line-height: 36px\9;  border: 1px solid #e6e6e6;  background-color: #fff;  border-radius: 0px;  }*/
/*.layui-tab-content{padding: 15px;}*/
/*.layui-table td, .layui-table th {  font-size: 12px;  }*/
/*.layui-table td, .layui-table th {  padding: 5px 15px;  }*/
/*.layui-btn {  height: 30px;  line-height: 30px;  padding: 0 18px;  font-size: 12px;  border-radius: 2px;  }*/

/*左侧导航图标*/
/*.layui-nav li dl dd span {  position: relative;  top: 5px;}*/
/*.data-quota-icon{width: 20px;height: 20px;background: url("../images/label.png") no-repeat 0px 0px;display: inline-block;}*/
/*.data-form-icon{width: 20px;height: 20px; background: url("../images/label.png") no-repeat -19px 0px;display: inline-block;}*/
/*.data-questionnaire-icon{width: 20px;height: 20px;background: url("../images/label.png") no-repeat -38px 0px;display: inline-block;}*/
/*.data-task-icon{width: 20px;height: 20px;background: url("../images/label.png") no-repeat -57px 0px;display: inline-block;}*/
/*.data-resource-icon{width: 18px;height: 20px;background: url("../images/label.png") no-repeat -76px 0px;display: inline-block;}*/
/*框架主体颜色#4fc2b9 end*/

/*框架主体颜色#7a85a1 star*/
.layui-side-scroll{background-color:#7a85a1; }
.layui-nav * {  font-size: 12px;}
.layui-nav .layui-nav-item a{color: #fff;}
.layui-nav .layui-nav-item {  line-height: 50px;  }
.layui-nav-child {  top: 50px;  }
/* 垂直导航二级菜单hover*/
.layui-nav-tree .layui-nav-item  {background-color: #8895b5;}
.layui-nav-tree .layui-nav-item a:hover {background-color: #8895b5;}
.layui-nav-tree .layui-nav-child a:hover{box-shadow: 0 0 1px #fff;  position: relative;font-size: 20px;background-color: #7a85a1;}
.layui-nav-tree .layui-nav-child a {color: #ffffff;}
.layui-nav-tree .layui-nav-child { background-color:#7a85a1;}
/*垂直导航一级菜单hover*/
.layui-nav-tree .layui-nav-bar{width: 0px;}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover { background-color: #4fc3ba;  color: #fff;  }
.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {background-color: #8895b5!important;}

#content{background-color: #f4f4f4;}
.layui-layout-admin .layui-side {  top: 50px;  width: 200px;  overflow-x: hidden;  }
.layui-layout-admin .layui-body {  top: 50px;}
.data-nav { text-align: right;height: 50px;  border-radius: 0px; background-color: #7a85a1;}
.data-nav .layui-nav-more { top: 22px;}
.layui-elem-field legend {  margin-left: 20px;  padding: 0 10px;  font-size: 14px;  font-weight: 300;  }
.layui-form-radio span {  font-size: 12px;  }
.layui-form-radio i { font-size: 16px;  }
.layui-input, .layui-select, .layui-textarea {  height: 38px;  line-height: 38px;  line-height: 36px\9;  border: 1px solid #e6e6e6;  background-color: #fff;  border-radius: 0px;  }
.layui-tab-content{padding: 15px;}
.layui-table td, .layui-table th {  font-size: 12px;  }
.layui-table td, .layui-table th {  padding: 5px 15px;  }
.layui-btn {  height: 30px;  line-height: 30px;  padding: 0 18px;  font-size: 12px;  border-radius: 2px; background-color: #4fc3ba; }
.layui-btn-small {  height: 30px;  line-height: 30px;  padding: 0 10px;  font-size: 12px;  }


.layui-form-checkbox span{font-size: 12px;}
/*左侧导航图标*/
.layui-nav li dl dd span {  position: relative;  top: 5px;}
.data-quota-icon{width: 20px;height: 20px;background: url("../images/label.png") no-repeat 0px 0px;display: inline-block;}
.data-form-icon{width: 20px;height: 20px; background: url("../images/label.png") no-repeat -19px 0px;display: inline-block;}
.data-questionnaire-icon{width: 20px;height: 20px;background: url("../images/label.png") no-repeat -38px 0px;display: inline-block;}
.data-task-icon{width: 20px;height: 20px;background: url("../images/label.png") no-repeat -57px 0px;display: inline-block;}
.data-resource-icon{width: 18px;height: 20px;background: url("../images/label.png") no-repeat -76px 0px;display: inline-block;}

/*框架主体颜色#7a85a1 end*/

/*面包屑*/
.crumbs {background-color: #fff;height: 24px;line-height: 24px; margin-left: 16px;}
.crumbs  a{color:#4fc3ba; }
.crumbs :nth-last-child(1){color: #646464;}
.crumbs span{display: inline-block;width: 29px;height: 11px;background: url("../images/cuttingLine.png")no-repeat 100% 100%;margin: 0px 2px 0px 2px;}
.crumbs :nth-last-child(2){background: url("../images/cuttingLineLast.png")}
.crumbsBottom{    height: 16px;  width: 100%;  background-color: #f4f4f4;}
/*select 下拉框*/
.data-select-title {position: absolute;  top: -12px;  left: 20px;  z-index: 10; padding: 0px 10px;  background: #fff;  text-align: center;  color: #666;}
.searchBtn{float: left; width: 30px;height: 30px;margin-top: 4px;background: url("../images/searchBtn.png");cursor: pointer;}


/*标题头部*/
.layui-tab-brief>.layui-tab-title li{margin-right: 10px; color: #666;}
.layui-tab-brief>.layui-tab-title .layui-this {line-height:28px; color: #000;font-size: 16px;  height: 20px; border: 1px solid #4fc2b9; border-top: 0px; border-bottom: 0px; }
.layui-tab-brief>.layui-tab-title .layui-this>p{display: inline-block; border: 1px solid #4fc2b9; position: relative;  top: -6px;  margin: 3px;height: 24px;}
.layui-tab-brief>.layui-tab-title .layui-this>p>span { display: inline-block; margin: 3px;position: relative; top: -3px;height: 28px;}
.layui-tab-brief>.layui-tab-title .layui-this>p>span>i{color:#666;border-top: 1px solid #4fc2b9; display: inline-block; margin: 3px;position: relative;top: -8px;}


.data-tab-title .layui-this {color:#00c2b3;font-size: 14px; }
.data-tab-title i{display: inline-block;width: 6px;height: 14px;background-color: #ffffff; margin-right: 10px;position: relative;top: 2px;    border-left: 1px solid #999;}
.data-tab-title .layui-this i{display: inline-block;width: 6px;height: 14px;background-color: #00c2b3; margin-right: 10px;position: relative;top: 2px;    border-left: 1px solid #00c2b3;}
.data-tab-title li{position: static;}


.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{border-bottom: 0px;}
.layui-form{background-color: #fff;}
/*.layui-tab-title{border-bottom: 1px solid #999; height: 30px;}*/
/*.layui-tab-title li {padding: 0px!important;}*/
#dataTableWrapper{margin: 16px;}


/*标题1*/
.data-colla-title{font-size: 18px;color: #4fc3ba;}


.headTitle{font-size: 18px; color: #333;border-bottom: 1px solid #000000;position: relative;padding-bottom: 10px;}
.headTitle p{margin-left: 20px;}
.headTitle i{display: inline-block;width: 15px;height: 7px;background-image: url("../images/lable2.png");background-repeat: no-repeat;background-position: 0px -438px;position: absolute;top: 26px;left: 50px;}
.oneTitle{font-size: 18px;color: #4fc3ba;}
.twoTitle{font-size: 16px;color: #333;margin-bottom: 5px;}
.twoTitle >i{display: inline-block;width:8px;height: 8px;border-radius: 50%;background-color: #4fc3ba;margin-right: 5px; }



/*数据标题*/
.detailsTitle{background-color: #f4f4f4;}
/*单项标题*/
.singleTitle{line-height: 24px;height: 24px;font-size: 16px;color: #646464;position: relative;margin-bottom: 15px;}
.singleTitle i{display: inline-block;width: 8px;height: 23px;background-color: #646464;margin-right: 10px;}
.singleTitle span{position: absolute;}
/*formAssembly样式集合star*/
/*自定义class*/
.bgc_f4{background-color: #f4f4f4;}
.fw100{font-weight: 100}
.fw400{font-weight: 400}

.tal{text-align: left!important;}
.tac{text-align: center!important;}
.tar{text-align: right!important;}

.pr{position: relative;}
.pa{position: absolute;}

.fl{float: left;}
.fr{float: right;}
.mt3{margin-top: 3px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt60{margin-top: 60px;}
.mt55{margin-top: 55px;}
.mb20{margin-bottom: 20px;}
.mb40{margin-bottom: 40px;}
.mb55{margin-bottom: 55px;}
.ml10{margin-left: 10px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}

.w60{display: inline-block;width: 60px;}
.w70{display: inline-block;width: 70px;}
.ww96{width: 96%!important;}
.ww100{width: 100%;}

.h40{height: 40px;line-height: 40px;}
.h80{height: 80px;line-height: 80px;}
.h100{height: 100px;line-height: 100px;}

.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}

.pb30{padding-bottom: 30px;}

.pl10{padding-left: 10px;}

.partingLine{width: 100%;border-bottom: 1px solid #e9ecf3;text-align: left;}

/*字体宋体*/
.typeface{font-family: 'STSong'; letter-spacing: 1px;}
.typeface2{font-family: 'STSong'; letter-spacing: 1px; color: #8895b5;}
.typefaceRed{font-family: 'STSong'; letter-spacing: 1px; color: #fc7568;}


/*图标*/
.questionnaireIcon{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px 0px;position: relative;  top: 4px;  margin-right: 10px; background-repeat: no-repeat;}
.videoIcon{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px -25px;position: relative;  top: 4px;  margin-right: 10px;  background-repeat: no-repeat;}
.formIcon{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px -50px;position: relative;  top: 4px;  margin-right: 10px;  background-repeat: no-repeat;}
.otherIcon{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px -75px;position: relative;  top: 4px;  margin-right: 10px;  background-repeat: no-repeat;}
.questionnaireNum{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px -100px;position: relative;  top: 6px;  margin-right: 8px;  background-repeat: no-repeat;}
.submitIcom{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px -120px;position: relative;  top: 6px;  margin-right: 8px;  background-repeat: no-repeat;}
.completedIcon{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px -140px;position: relative;  top: 6px;  margin-right: 8px;  background-repeat: no-repeat;}
.viewDetails{display: inline-block;width: 20px;height: 20px;background-image:url("../images/onSchool.png");background-position: 0px -160px;position: relative;  top: 6px;  margin-right: 8px;  background-repeat: no-repeat;}
.editIcom{display: inline-block;width: 20px; height: 20px;background-image: url("../images/编辑-2.png");background-repeat: no-repeat;background-position: 0px -130px;}


.searchBox{width: 100%;position: relative;}
.searchBulletedInput{width: calc(100% - 34px);height: 26px;line-height: 26px;padding-left: 10px!important;padding-right: 24px;border: 1px solid #4fc2b9;}
.searchBulletedBtn{display: inline-block;background:url("../images/searchBulletedBtn.png") no-repeat 100% 100%; width: 24px;height:24px;float: right;position: absolute;  top: 2px;  right: 5px;z-index: 100;cursor: pointer;}

/*按钮 star*/
.viewDetailsBtn{display: inline-block;padding: 0px 10px; background-color: #fc736d;color: #fff;}
.uncommittedBtn{display: inline-block;padding: 0px 10px; background-color: #8895b5;color: #fff;}
.yellowBtn{display: inline-block;padding: 0px 10px; background-color: #f39800;color: #fff;height: 22px;line-height: 22px;font-size: 12px; }
.redBtn{display: inline-block;padding: 0px 10px; background-color: #fc7568;color: #fff;height: 22px;line-height: 22px;font-size: 12px;}
.redBtn2{ background-color: #fc7568;}
.blueBtn{display: inline-block;padding: 0px 10px; background-color: #4fc3ba;color: #fff;height: 22px;line-height: 22px;font-size: 12px;}
.grayBtn{display: inline-block;padding: 0px 10px; background-color: #8895b5;color: #fff;height: 22px;line-height: 22px;font-size: 12px;}


/*按钮end*/

/*form距离最外面边框距离,默认为0*/
.layui-form{padding: 15px;}
.widthbf50{width: 50%;}
.widthbf50 .layui-input-inline{width: auto;}

/*input class类 star*/
.layui-form-pane .layui-input {  border-radius: 3px 3px 3px 3px;  }
.dataInputBox{position: relative; float: left;}
.dataDateInput{width: 150px;min-width: 150px!important;}
.time-link{width: 20px; float: left;text-align: center;  line-height: 38px;}
.dataInputHeader{position: absolute;top: -10px; left: 10px;  padding: 0px 5px;font-size: 12px;  background-color: #fff;z-index: 9;color:#4fc3a5; }
.dataInput{min-width: 280px; font-size: 12px;}
.dataInputLong{max-width: 704px;min-width: 500px;}


.dataPhone{float: left;width: 40px;height: 40px;background: url("../images/phone.png") no-repeat 100% 100%;}
.dataEmail{float: left;width: 40px;height: 40px;background: url("../images/email.png") no-repeat 100% 100%;}
.dataRequired{float: left;width: 40px;height: 40px;background: url("../images/required.png") no-repeat 100% 100%;}
.dataDate{float: left;width: 40px;height: 40px;background: url("../images/deta.png") no-repeat 100% 100%;}
.dataUrl{float: left;width: 40px;height: 40px;background: url("../images/url.png") no-repeat 100% 100%;}
.dataIdentity{float: left;width: 40px;height: 40px;background: url("../images/identity.png") no-repeat 100% 100%;}
.dataPassword{float: left;width: 40px;height: 40px;background: url("../images/password.png") no-repeat 100% 100%;}
/*input class类 end*/

/*select 页面元素 star*/
/* 搜索提交*/
.selectCondition{float: left;width: 100%;}
.selectSubmitArea  {  display: inline-block;  min-width: 340px;  float: left;  }
.selectSubmitArea .layui-input-inline {  float: left;  }
.selectSubmitArea div {  float: left;  }
/*select 页面元素 end*/

/* 面包屑相关样式*/
.page-bar {  }
.page-bar .page-breadcrumb {  padding: 11px 0;  }
.page-bar .page-breadcrumb {  display: inline-block;  float: left;  margin: 0;  list-style: none;  }
.page-bar .page-breadcrumb > li {  display: inline-block;  }

/*页面标题样式*/
.pageTitle {
    clear: both;
    margin-bottom: 0;
}
/*列表star*/
/* dataTable及页签样式*/
.table-bordered {  border: 1px solid #ddd;  }
.table-striped > tbody > tr:nth-of-type(odd) {  background-color: #f4f2f7;;  }
.table-striped > tbody > tr:nth-of-type(even) {  background-color: #fcfcfc;  }
.table {  width: 100%;  max-width: 100%;  margin-bottom: 20px;  }
.table > thead:first-child > tr:first-child > th {  border-top: 0;  }
.table.table-bordered thead > tr > th {  border-bottom: 0;  }
.table thead tr th {  font-size: 14px;  font-weight: 600;  }
.table-bordered > thead > tr > th {  border: 1px solid #ddd;  }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {  padding: 8px;  line-height: 1.42857143;  vertical-align: top;  border-top: 1px solid #ddd;  }
.table > thead > tr > th {  vertical-align: bottom;  border-bottom: 2px solid #ddd;  }
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {  border: 1px solid #ddd;  }
.pagination {  display: inline-block;  padding-left: 0;  border-radius: 4px;  }
.pagination > li {  display: inline;  }
.pagination > li:first-child > a, .pagination > li:first-child > span {  margin-left: 0;  border-top-left-radius: 4px;  border-bottom-left-radius: 4px;  }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {  color: #777;  cursor: not-allowed;  background-color: #fff;  border-color: #ddd;  }
.pagination > li > a, .pagination > li > span {  position: relative;  float: left;  padding: 6px 12px;  margin-left: -1px;  line-height: 1.42857143;  color: #337ab7;  text-decoration: none;  background-color: #fff;  border: 1px solid #ddd;  }

/*table列表底部彩条*/
.dataFooter{  clear: both;}
.dataFooter > ul li {  float: left;  width: 12.5%;  background-color: #4fc3a5;  height: 8px;  }
.dataFooter2 > ul li {  float: left;  width: 20%;  background-color: #4fc3a5;  height: 4px;  }
.dataFooter> ul > li:nth-of-type(odd),.dataFooter2 > ul > li:nth-of-type(odd) {  background-color: #ff7a6e;  }

.footerColorBarOne{clear:both;}
.footerColorBarOne > ul li {  float: left;  width: 7.14%;  background-color: #fd7569;  height: 4px; }
.footerColorBarOne > ul > li:nth-of-type(odd) {background-color: #7a85a1;  }

.greenBtnTxt{ color: #4fc2b9;margin-right: 10px;}
.redBtnTxt{color: #ff7a6e;margin-right: 10px;}
/*列表end*/

/*上传问卷弹层样式*/
.larry-personal-body {
    padding: 20px;
}

.larry-personal-body > form {
    margin-right: 40px;
}

/*formAssembly样式集合end*/

/*自定义弹出层样式 问卷上传star*/
.data-titleFile {font-size: 12px; color: #666666;}
.data-titleFile .larry-personal-body > form { margin-right: 210px;margin-left:210px;  font-size: 12px; color: #666666;}
.data-titleFile .data-input-block{border-bottom:1px solid #f3f5f8; padding-bottom: 5px;}
.data-titleFile .layui-form-item{margin-bottom: 5px; padding-bottom: 10px;}
.data-titleFile .layui-layer-title{font-size: 16px;position: relative;left: -12px; top: 16px;color:#fff;background: url("../images/uploadFileTitle.png") no-repeat;border-bottom: 0px; line-height: 24px;width:190px;text-align: center;padding-left: 0px;padding-right: 0px;  }
.data-titleFile .layui-layer-btn .layui-layer-btn0 {  border-color: #4fc3ba;  background-color: #4fc3ba;  color: #fff;  }
.data-titleFile .layui-layer-btn .layui-layer-btn1 {  border-color: #fc7568;  background-color: #fc7568;  color: #fff;  }
.data-titleFile .layui-layer-btn .layui-layer-btn2{  border-color: #fff;  background-color: #7a85a1;  color: #fff;  }
.data-titleFile .layui-layer-btn-c{background-color: #7a85a1; }
.data-titleFile .data-form-label{margin-left: 0px; color: #666; font-size: 14px;padding: 8px 0px 0px 0px; }
.data-titleFile .data-upload-box{ position: relative;display: inline-block; min-width: 280px;}
.data-titleFile .data-upload-box .data-upload-icon{ position: absolute;top: -4px;display: inline-block;background: url("../images/addDocument.png") no-repeat 100% 100%;width: 20px;height: 20px;}
.data-titleFile .data-upload-file {  position: relative;  display: inline-block;  vertical-align: middle;  width: 20px;  height:20px;  line-height: 20px;  border: 1px solid #DFDFDF;  border-radius: 2px;  overflow: hidden;
    background-color: #cccccc;  color: #666;  filter:alpha(opacity=0);  -moz-opacity:0;  opacity:0;  z-index: 99}

.data-titleFile .layui-progress-text{    position: relative;  top: -7px;  left: 35px;  line-height: 18px;  font-size: 12px;  color: #4fc3ba;}
.data-titleFile .layui-progress{height: 8px;  background-color: #fff;  border: 1px solid #d3d9e5;margin-left: 10px;}
.data-titleFile .layui-progress .layui-progress-bar{margin-top: 3px; background-color: #4fc3ba;height: 2px;}

.data-titleFile .dataDocBox {margin-top: 10px;}
/*弹出框图标*/
.data-titleFile .dataDocBox .dataDocTitle .dataFileState{display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #4fc2b9;margin-right: 5px;}
.data-titleFile .dataDocBox .dataDocTitle .dataFileState0{display: inline-block;width: 7px;height: 7px;border-radius: 50%;background-color: #cccccc;margin-right: 5px;}
.data-titleFile .dataDocBox .dataDocTitle .data-removeDoc-icon{display: inline-block;width: 20px;height: 20px;background-image: url("../images/removeDoc.png");background-repeat: no-repeat;background-size: 100% 100%; float: right;    position: relative;  top: -4px; left: 30px;}
.data-titleFile .dataDocBox .dataDocTitle .data-removeDoc-icon:hover{background-image: url("../images/removeDocHove.png");}


.data-titleFile .dataDocBox .dataDocTitle .data-preview-icon{display: inline-block;width: 20px;height: 20px;background-image: url("../images/previewDoc.png");background-repeat: no-repeat;background-size: 100% 100%; float: right;    position: relative;  top: -4px; left: 40px;}
.data-titleFile .dataDocBox .dataDocTitle .data-preview-icon:hover{background-image: url("../images/previewDocHove.png");}

.data-titleFile .dataDocBox .dataDocTitle .data-downloadDoc-icon{display: inline-block;width: 20px;height: 20px;background-image: url("../images/downloadDoc.png");background-repeat: no-repeat;background-size: 100% 100%; float: right;    position: relative;  top: -4px; left: 50px;}
.data-titleFile .dataDocBox .dataDocTitle .data-downloadDoc-icon:hover{background-image: url("../images/downloadDocHove.png");}


/*自定义弹出层样式 问卷上传stop*/

/*附件上传--问卷管理页使用--bagin by wenxia*/
.data-upload-icon1 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../images/addDocument.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
    cursor: pointer;
}
/*附件上传--问卷管理页使用--end by wenxia*/

/*问卷列表star*/
.questionnaireList{float: left; margin-top: 40px; margin-right: 25px;}
.questionnaireListBox{border-top:6px solid #4fc3ba; width: 270px; position: relative;}
.questionnaireListBox .Double{position: absolute; left:60px; z-index: 100; }
.questionnaireListBox .DoubleBox{width: 153px;border-left: 1px solid #fc7568;border-right: 1px solid #fc7568; height: 50px;}
.questionnaireListBox .DoubleBox .Double1{width:7px;height: 7px; background-color: #fc7568;border-radius: 50%;display: inline-block;position: absolute;top: -7px;left: -3px;}
.questionnaireListBox .DoubleBox .Double2{width:7px;height: 7px; background-color: #fc7568;border-radius: 50%;display: inline-block;position: absolute;top: -7px;left: 151px;}
.questionnaireListBox .questionnaireListContent{height: 147px;border: 1px solid #dbdfe9;background-color: #fff; text-align: center;position: relative; z-index: 90;}
.questionnaireListBox .questionnaireListContent p{position: absolute; left:257px;top: 40px; width:22px; height: 53px; border: 1px solid #dbdfe9;border-radius: 10px; font-size: 12px;line-height: 16px;padding-top: 5px;}
.unfilledTxt{background-color: #fff;color: #9b9b9b;}
.uncommittedTxt{background-color:#fff;color: #fc7568;}
.submittedTxt{background-color: #4fc3ba;color: #fff;}
.questionnaireListBox .questionnaireListContent .questionnaireBox {width: 208px; height: 84px; background-color:#fc7568; margin-top: 47px; margin-left: 30px; color: #fff; }
.questionnaireListBox .questionnaireListContent .questionnaireBox .questionnaireTitle{font-size: 14px;  padding-top: 10px;  margin: 0 10px 10px 10px;width: 188px; height: 44px;overflow: hidden}
.questionnaireListBox .questionnaireListContent .questionnaireBox .questionnaireEndTime{font-size: 12px;height:22px; font-weight: 100;}
/*问卷列表end*/

/*问卷star*/
.answerBox{height: 230px;}
.answerBox .answerHeader{ width: 100%;height: 216px;background: url("../images/answerHader.jpg")no-repeat;background-size: 100% 100%; }
.answerBox  .answerTitle{text-align: center;position: relative;top: -81px}
.answerBox .answerTitle .titleLeft{background: url("../images/titleLeft.png")no-repeat 100% 100%; height: 39px;width: 61px; display: inline-block;position: relative;  left: 10px;  top: 20px;z-index: 10;}
.answerBox .titleHead{ text-align: center;  position: relative;  top: -60px; z-index: 30;font-size: 18px;font-weight: 100;color: #fff;}
.answerBox .answerTitle .titleCenter{ border: 1px solid #34e2be;border-radius: 5px; background-color: #34e2be; padding: 10px; font-size: 16px;text-align: center;color: #fff; display: inline-block; z-index: 20; position: relative;}
.answerBox .answerTitle .titleRight{background: url("../images/titleRight.png") no-repeat 100% 100%; display: inline-block;width: 61px;height: 39px;position: relative; left: -10px; top:20px; z-index: 10;}
.answerMain{ margin: auto; margin-left: 11%;margin-right: 11%;color: #666;}
.answerMain .preservedBtn{background-color:#4fc3ba;color: #fff;border-radius: 3px;display: inline-block;padding: 3px 20px;margin-right: 5%; cursor: pointer;}
.answerMain .submitBtn{background-color:#8895b5;color: #fff;border-radius: 3px;display: inline-block;padding: 3px 20px;margin-right: 5%; cursor: pointer;}
.answerTxt{margin-left: 10%;margin-right: 10%;color: #666;margin-bottom: 15px;text-align: left;text-indent:2em;}
.problemList{margin-top: 20px;}
.problem{min-height: 100px;padding-top: 20px;}
/*已填写状态*/
.problem .problemBor{width: 30px; height: 40px;border: 2px solid #4fc3ba;display: inline-block;float: left; }
/*未填写状态*/
.problem .problemBorNOt{width: 30px; height: 40px;border: 2px solid #74829f;display: inline-block;float: left; }
.problem .problemNum{width: 20px;  height: 20px;  background: #fff;  position: relative;  top: 10px;  left: 20px;font-size: 14px;color: #74829f}
.problem .problemTitle{margin-left: 50px; position: relative;top: 30px;}
.problem .layui-form-item{clear: none;}
.problem .layui-form-item .layui-input-block{margin-left: 0px;}
.problem .layui-form-item .layui-input-block .layui-input{width: 320px;border-radius: 5px;}
.problem .layui-form-item .layui-input-block .layui-form-radio {min-width: 130px;}
.problem .layui-form-item .layui-input-block .layui-form-checkbox[lay-skin=primary] span {min-width: 110px; font-size: 12px;}
 /*进度条*/
.progressBar{position: fixed;right:4%;top: 45%;}
.progressBar .div1{background-color:#17caae;border: 1px solid #e5e5e5; width: 17px;height: 226px;border-radius: 17px;}
.progressBar .div1 .sumNum{position: absolute;left: -26px;top: 10px;border: 1px solid #fd7569;  width: 24px; height: 16px;line-height: 16px;background-color:#fd7569;
    color: #fff;text-align: center;border-radius: 3px 0px 0px 3px;}
.progressBar .div1 .div2{background-color:#35e6bf; border: #35e6bf;border-radius: 7px;width: 7px;height: 216px;margin-left: 5px;margin-top: 5px; }
.progressBar .div1 .div2 .div3{border-left:1px solid #59cab1;height: 206px;width: 1px;margin-top: 5px;margin-left: 3px;position: absolute;}
.progressBar .reticule{position: absolute;bottom: 0px;  left: -1px;background: #ffee1d;width: 1px;height: 50%;min-height:7%;border-left: #ffee1d;  }
.progressBar .reticule .thisNum {display: inline-block;width: 45px;height: 16px; padding-right: 5px;
    line-height: 16px;background-color:#ffe035;color: #2bcaae;font-size: 12px; text-align: right;position: absolute;left: -15px;    border: 1px solid #ffe035;
    border-radius: 0px 5px 5px 0px;filter:alpha(opacity=90);  -moz-opacity:0.9;  opacity:0.9;}
.progressBar .baseNum{position: absolute;left: 18px;bottom: 7px;width: 24px;height: 16px;line-height: 16px;background-color:#74829f;border: 1px solid #74829f; border-radius: 0px 5px 5px 0px;color: #fff;text-align: center;  }


/*问卷end*/

/*重写多选按钮图标*/
.layui-form-checked[lay-skin=primary] i {  border-color: #5FB878;  background-color: #5FB878;  background-image: url("../images/checkbox.png");  color: #fff;  }

.site-demo .layui-main {  margin: 10px 20px 10px 20px;  line-height: 22px;  background-color: #fff;  }
.layui-form-item .layui-input-inline {  float: left;  width: 220px;  margin-right: 10px;  }

.eachSchoolBox{width:261px;height: 196px;border: 1px solid #4fc3ba;background-color:#fff;border-bottom: 0px;margin-bottom: 40px; float: left;margin-right: 24px; position: relative;}
.schoolName{width: 100%;text-align: center;}
.schoolName span{font-size: 18px;display: inline-block;padding: 10px 20px;color: #fff;background-color:#4fc3ba; font-weight: 100;}
.eachSchoolMain{width:100%; height: 112px; margin-top: 20px;}
.eachSchoolMain div{width: 49%;height: 100%;line-height: 40px; text-align: center;float: left; font-size: 14px; color: #646464;}
.eachSchoolMain .shouldNum{border-right: 1px solid #e9ecf3;}
.eachSchoolMain  p{font-size: 24px;color: #fc7568;font-family:'STSong';letter-spacing: 1px;}
.eachSchoolMain  p span{font-size: 12px;color: #9a9a9a;}
.eachSchoolBottom{height: 22px;width: 100%;background-color: #4fc3ba;text-align: center;color: #fff;font-size: 12px;cursor:pointer}
.eachSchoolBottom i{display:inline-block;width: 14px; height:14px; background: url("../images/each1.png")no-repeat 100% 100%;position: relative;  top: 2px; }
.eachbox:hover .eachSchoolBox{}
.eachSchoolMask{width: 261px; height: 197px; position: absolute; top: 0px;  left: 0px;z-index: 10; background-color: #000;opacity: 0.6;display: none;text-align: center;}
.eachSchoolMask .eachSchoolMaskTxt{font-size: 14px; color: #fff;margin-top: 30%;}
.eachSchoolMask .eachSchoolMaskTxt i{display:inline-block;width: 20px; height:20px; background: url("../images/each.png")no-repeat 100% 100%;position: relative;  top: 2px;margin-right: 5px; }

.statistics{width: 240px;border: 1px solid #d3d9e5; float: left; position: relative;margin-bottom: 40px; }
.statisticsTxt{display: inline-block;  width: 100px;  text-align: left;}
.statisticsItem{width: 220px;border: 1px solid #d3d9e5;border-left: 0px; float: left;margin-top: 17px;}
.statistics .partingLine :first-child,
.statisticsItem .partingLine :first-child{margin-left: 30%;}
.statisticsItem .partingLine a{color: #4fc3ba;    display: inline-block; height: 20px;  line-height: 20px;  border-bottom: 1px solid #4fc3ba;}
.statisticsContent{width: 207px; margin: auto;text-align: center; color: #646464;}
.statisticsContent .contentTitle{font-size: 16px; }
.contentTotal p{    font-size: 20px;  color: #fc7568;  font-family: 'STSong';}
.contentTotal p span{    font-size: 12px;  color: #9a9a9a;}

/*年级进度*/
.gradeProgressBox{width: 704px;margin: auto; position: relative; color: #fff;font-size: 12px;text-align: center;}
.gradeSchoolName{width: 406px;height: 30px;line-height: 30px;font-size: 20px; font-weight: 100;color: #fff;background-color:#fc736d;margin: auto;text-align: center;}
.ringOne{display: inline-block;width: 39px;height: 104px;background-image:url("../images/ring.png"); background-repeat: no-repeat;position:absolute;top: 4px;left: 200px; }
.ringTwo{display: inline-block;width: 39px;height: 104px;background-image:url("../images/ring.png"); background-repeat: no-repeat;position:absolute;top: 4px;right: 200px; }
.gradeListBox{width: 704px;background-color:#4fc3ba;margin-top: 52px; }
.gradeList{padding-top: 40px;text-align: center;}
.gradeTitle{font-size: 14px;color: #fff;}
.gradeList ul li {margin-top: 20px;position: relative; font-weight: 100;}

/*白色进度条*/
.progressBarWhite{width: 332px;height: 12px;display: inline-block;border: 1px solid #fff;border-radius: 6px;margin-left: 10px;margin-right: 10px;position: relative;top: 3px;}
.progressBarWhite .progressBarOne{width: 310px;border:1px solid #78d1ca;border-radius: 2px; margin-left: 10px;margin-right: 10px;margin-top: 4px;}
.percentage {width: 50%;border: 1px solid #fff;border-radius: 2px;}


/*为提交详情*/
.uncommittedDetails{ width: 94%;min-height: 100px; margin: auto; border: 1px solid #fff;background-color: #fff; border-radius:4px; padding-bottom: 10px;display: none;}
.uncommittedDetails .gradeProgress {color: #646464; margin-top: 10px; }
.uncommittedDetails .gradeProgress  .percentageTxt{color: #4fc3ba;}
.uncommittedDetails .progressBarWhite{width: 332px;height: 12px;display: inline-block;border: 1px solid #4fc3ba;border-radius: 6px;margin-left: 10px;margin-right: 10px;position: relative;top: 3px;}
.uncommittedDetails .progressBarWhite .progressBarOne{width: 310px;border:1px solid #78d1ca;border-radius: 2px; margin-left: 10px;margin-right: 10px;margin-top: 5px;}
.uncommittedDetails .percentage {width: 50%;border: 1px solid #4fc3ba;border-radius: 2px;}
.uncommittedDetails .rosterName {width: 70%;border-top: 1px solid #e9ecf3; margin: auto;margin-top: 10px;color: #646464;text-align: left;}
.uncommittedDetails .rosterName p{margin-top: 10px; font-weight: 400;}

/*项目问卷列表*/


.researchProject{text-align: center;}
.researchProject thead{border: 1px solid #fff;}
.researchProject thead tr th{height: 44px;line-height: 44px ;background-color: #55c3ba;font-size: 14px;font-weight: 100;color: #fff;border-right: 1px solid #fff;padding: 0px 10px;}
.researchProject tbody tr td{border-bottom: 1px solid #55c3ba;border-right: 1px solid #55c3ba;font-size: 12px; color: #676767;height: 32px;line-height: 32px;}
.researchProject tbody :nth-last-child(1) {border-right: 0px;}
.researchProject .bulletedHead tr th { text-align: center;background-color: #fff!important;padding: 0px 5px;}
.researchProject .bulletedHead :first-child {padding-left: 0px;}
.researchProject .bulletedHead :nth-last-child(1)  {padding-right: 0px;}
.researchProject .bulletedHead tr th div{height: 30px;line-height: 30px;border: 1px solid #8895b5;background-color: #8895b5;border-radius: 3px;font-size: 16px;color: #fcfcfc;font-weight: 300;}
.researchProject .bulletedHead tr :nth-last-child(1) div{width: 99%;}











